<!DOCTYPE html>
<html>
<head>
    <title>Make Poll</title>
</head>
<body>
<form action = "\makepoll" method="POST">
<div>
    <h1>What would you like to ask?</h1>
    <h2>Question</h2>
    <input type="text" name="ques" placeholder="Question" required><br><br>
</div>
<div>
    <h2>Options</h2>
    <input type="text" name="op1" placeholder="Option1" required><br><br>
    <input type="text" name="op2" placeholder="Option2" required><br><br>
    <input type="text" name="op3" placeholder="Option3" required><br><br>
    <input type="text" name="op4" placeholder="Option4" required><br><br>
</div>
<div>
    <input type="submit" value="SUBMIT">
</div>
</form>
</body>
</html>